/* ================================== */
/* СТИЛИ ДЛЯ ИНТЕРФЕЙСА ЧАТА (chatindex.html) */
/* ================================== */

.chat-interface {
    /* Чтобы градиентная рамка не применялась к чату */
    border: none !important; 
    padding: 3px;
}

.messages-area {
    height: 300px; /* Фиксированная высота окна чата */
    overflow-y: auto; /* Добавляем прокрутку */
    border: 1px solid #333;
    border-radius: 14px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #1C1C1C;
}

.input-area {
    display: flex;
    gap: 10px;
}

#user-input {
    flex-grow: 1; /* Растягивает поле ввода */
    padding: 10px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-light-text);
    border-radius: 8px;
    font-size: 1em;
}

/* Стили для сообщений */
.bot-message {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 8px 12px;
    border-radius: 15px 15px 15px 0; /* Скругление углов */
    max-width: 80%;
    margin-bottom: 10px;
    float: left; /* Сообщения бота слева */
    clear: both; 
    font-weight: bold;
}

.user-message {
    background-color: #333;
    color: var(--color-light-text);
    padding: 8px 12px;
    border-radius: 15px 15px 0 15px; /* Сообщения пользователя справа */
    max-width: 80%;
    margin-bottom: 10px;
    float: right; /* Сообщения пользователя справа */
    clear: both;
}